.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.highlighted {
  color: var(--color-orange);
}

.opinionWrapper {
  border-radius: 1rem;
  padding: 1rem;
  width: 300px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--color-background-orange);
}

.wrapperOpinions {
  display: flex;
  gap: 1rem;
}

.image {
  width: 9rem;
  height: auto;
}

.upRightIcon {
  width: 1.75rem;
}

.imageWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.average {
  font-weight: 500;
  font-size: 1.5rem;
}

.averageCounterWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
