.footer {
  width: 100%;
  background-color: black;
}

.leftFooter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftFooter p {
  color: white;
}

.secondFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 86rem;
  margin: 0 auto;
  padding: 0 2rem;
  align-items: center;
}
