.footerContainer {
  border-bottom: 1px solid var(--color-grey);
  width: 100%;
  background-color: black;
  margin-top: 2rem;
}

.maxWidth {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100rem;
  margin: 0 auto;
  align-items: center;
}

.footer {
  border-bottom: 1px solid var(--color-grey);
  width: 100%;
  background-color: black;
}

.leftFooter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftFooter p {
  color: white;
}

.secondFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100rem;
  margin: 0 auto;
  align-items: center;
}
