.wrapperButtons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media only screen and (max-width: 1280px) {
  .mobileDisplayNone {
    display: none;
  }

  .wrapperButtons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
