.wrapper {
  display: flex;
  width: 100%;
  gap: 0.75rem;
  flex-direction: column;
}

.employeeImage {
  width: 6rem;
  height: 6rem;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 0.25rem solid white;
}

.employeeWrapper {
  background-color: var(--color-background-orange);
  border-radius: 6rem 3rem 3rem 6rem;
  padding: 0 1rem 0 0;
  width: 100%;
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.employeeWrapper span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.employeeWrapper p {
  color: var(--color-orange);
  font-size: 14px;
}

.aboutWrapper {
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
}

.icon {
  width: 1.75rem;
  height: 1.75rem;
}

.left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media only screen and (max-width: 1280px) {
  .wrapper {
    display: flex;
    width: 100%;
    gap: 1rem;
    flex-direction: column;
    padding: 1.5rem 1rem 1.5rem 1rem;
  }

  .employeeImage {
    width: 4rem;
    height: 4rem;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 0rem solid white;
  }

  .employeeWrapper {
    background-color: var(--color-background-orange);
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    width: 100%;
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
  }

  .employeeWrapper span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .employeeWrapper span {
    color: var(--color-orange);
    font-size: 14px;
  }

  .aboutWrapper {
    display: flex;
    gap: 0.25rem;
    flex-direction: column;
  }

  .icon {
    width: 1.25rem;
    height: 1.25rem;
  }

  .left {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
