.wrapper {
  display: flex;
  max-width: 80rem;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.groupWrapper {
  display: flex;
  align-items: center;
  background-color: var(--color-background-orange);
  border-radius: 1rem;
  padding: 1.5rem;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.employeeImage {
  width: 8rem;
  height: 8rem;
}

.orange {
  color: var(--color-orange);
}

.description ol li {
  list-style-type: decimal;
}

.description h2 {
  width: 100%;
  margin-top: 1.5rem;
}

.description ul li::marker {
  color: var(--color-orange);
}

.description ol li::marker {
  font-weight: 600;
}

.description ul {
  margin-left: 2rem;
}

.description ol {
  margin-left: 2rem;
}

.description li {
  list-style-type: disc;
  margin-top: 1rem;
}

.description span {
  line-height: 1;
}

.description p {
  margin-top: 1.5rem;
}

.description {
  margin-bottom: 4rem;
}

.groupWrapperWithoutMarginBottom {
  margin-top: 1rem;
}

@media only screen and (max-width: 1280px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
  }

  .descriptionWrapper {
    padding: 0 1rem;
    margin-bottom: 1.5rem;
  }

  .description {
    margin-bottom: 1.5rem;
    padding: 0 1rem;
  }

  .groupWrapper {
    display: flex;
    align-items: center;
    background-color: var(--color-background-orange);
    border-radius: 0.5rem;
    padding: 1rem;
    gap: 1rem;
    margin-top: 1rem;
  }

  .employeeImage {
    width: 5rem;
    height: 5rem;
  }

  .orange {
    color: var(--color-orange);
  }

  .description ol li {
    list-style-type: decimal;
  }

  .description h2 {
    width: 100%;
    margin-top: 1.5rem;
  }

  .description ul li::marker {
    color: var(--color-orange);
  }

  .description ol li::marker {
    font-weight: 600;
  }

  .description ul {
    margin-left: 2rem;
  }

  .description li {
    list-style-type: disc;
    margin-top: 1rem;
  }

  .description span {
    line-height: 1;
  }

  .description p {
    margin-top: 1.5rem;
  }
}
