@media only screen and (min-width: 1280px) {
  .hero {
    width: 100%;
    max-width: 80rem;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 2rem;
    margin-top: 2rem;
  }

  .leftDiv {
    width: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 1280px) {
  .mobileDisplayNone {
    display: none;
  }

  .leftDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hero {
    padding: 0 1rem 1.5rem 1rem;
  }
}
