.leftDiv {
  width: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  margin-right: 2rem;
}

.hero {
  padding-top: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

@media only screen and (max-width: 1600px) {
  .leftDiv {
    width: 26rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .mobileDisplayNone {
    display: none;
  }

  .hero {
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .wrapper > *:nth-child(1) {
    order: 1; /* Drugi element jest wyświetlany pierwszy */
  }
}
