.mobileDisplayBlock {
  display: none !important;
}

.mobileDisplayNone {
  display: block !important;
}

@media only screen and (max-width: 1280px) {
  .mobileDisplayBlock {
    display: block !important;
    margin-top: 1.5rem;
  }

  .mobileDisplayNone {
    display: none !important;
  }
}
