.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
}

.wrapper2 {
  display: none;
}

.orange {
  color: var(--color-orange);
}

.employeeImageWrapper {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  margin: 0rem;
}

.employeeImage {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 0rem solid white;
}

.description {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
}

.description span {
  margin-top: 1rem;
}

.description h3 {
  color: var(--color-orange);
  font-weight: 500;
  margin-top: 0.5rem;
}

.singleMemberWrapper {
  display: flex;
  background-color: var(--color-background-orange);
  border-radius: 0.5rem;
  width: 100%;
  padding: 1.5rem;
  align-items: center;
  margin-top: 1rem;
}

.membersWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.descriptionP {
  margin-top: 1.5rem;
  color: #333;
}

@media only screen and (max-width: 1280px) {
  /* EmployeeProfil.module.css */

  .wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    padding: 0rem 1rem;
  }

  .descriptionP {
    margin-top: 1rem;
  }

  .orange {
    color: var(--color-orange);
  }

  .employeeImageWrapper {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    margin: 0rem;
  }

  .employeeImage {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 0rem solid white;
  }

  .description {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }

  .descriptionMobile {
    display: block;
  }

  .description span {
    margin-top: 1rem;
  }

  .description h3 {
    color: var(--color-orange);
    font-weight: 500;
    font-size: 1rem;
    margin-top: 0.25rem;
  }

  .description h1 {
    font-size: 1.25rem;
  }

  .singleMemberWrapper {
    display: flex;
    background-color: var(--color-background-orange);
    border-radius: 0.5rem;
    width: 100%;
    padding: 0.75rem 1rem;
    align-items: center;
  }

  .membersWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
